.experimenter__container{
    max-width: min(1920px, 100%);
    width: 100%;
    margin: 3rem auto 0 auto;
    padding: 0 10.5rem;
    display: flex;
    flex-direction: column;
}

.experimenter__title{
    font-size: var(--fontSize--h2);
    text-align: left;
    margin-bottom: 3rem;
}

.experimenter__description{
    font-size: var(--fontSize--large);
    font-weight: var(--fontWeight--regular);
    color: var(--black--primary);
    line-height: 1.25;
    width: 45ch;
    margin-bottom: 6rem;
}

.superScript {
    vertical-align: super;
    color: var(--black--primary);
    font-size: var(--fontSize--large);
    font-weight: var(--fontWeight--regular);
}

.experimenter__interest_container{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    gap: 3rem;
    margin-bottom: 3rem;
}

.cta_bottom{
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
    text-decoration: none;
    color: var(--black--primary);
    align-self: flex-end;
    margin-bottom: 6rem;
}

.cta_bottom_text{
    text-align: left;
    text-decoration: none;
    font-size: var(--fontSize--h4);
    font-weight: var(--fontWeight--regular);
    transition: color 0.5s ease-in-out;
}

.cta_bottom_icon{
    background-color: var(--yellow--primary);
    font-size: 1.5rem;
    color: var(--black--primary);
    border-radius: 50%;
    width: 1.5rem;
    height: 1.25rem;
    padding: 0.875rem 0.75rem;
    box-sizing: content-box;
    transition: background-color 0.5s ease-in-out;
}

.cta_bottom:hover > .cta_bottom_icon{
    background-color: var(--yellow--secondary);
}

.cta_bottom:hover > .cta_bottom_text{
    color: var(--blue--secondary);
}