.project__details{
    width: 100%;
    max-width: min(1920px, 90%);
    margin: -6rem auto 0 auto;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 6rem 10.5rem;
    box-sizing: border-box;
    z-index: 5;
    background-color: var(--white--primary);
    position: relative;
}

.project__breadcrumb_container{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    margin-top: -3.5rem;
}

.project__breadcrumb_container__item{
    text-decoration: none;
    color: var(--black--primary);
}

.project__breadcrumb__line{
    width: 3rem;
    height: 0.1rem;
    background-color: var(--black--primary);
}

.link{
    text-decoration: none;
    color: var(--black--primary);
}

.project__title{
    font-size: var(--fontSize--h1);
    font-weight: var(--fontWeight--light);
    color: var(--black--primary);
    margin-bottom: 3rem;
}

.project__textContent{
    width: clamp(200px, 100%, 900px);
}

.project__skills{
    width: clamp(200px, 50%, 378px);
    background-color: var(--yellow--primary);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 3rem;
    box-sizing: border-box;
    gap: 1rem;
}

.project__skills_title{
    font-size: var(--fontSize--medium);
    font-weight: var(--fontWeight--medium);
    color: var(--black--primary);
    margin-bottom: 0.5rem;
}

.project__skills > span{
    font-size: var(--fontSize--subText);
    font-weight: var(--fontWeight--regular);
    color: var(--black--primary);
}

.project__description{
    font-size: var(--fontSize--large);
    font-weight: var(--fontWeight--regular);
    color: var(--black--primary);
    margin-bottom: 2rem;
}

@media only screen and (max-width: 1920px){
    .project__details{
        padding: 6rem 5rem;
    }
}

@media only screen and (max-width: 1650px){
    .project__skills{
        width: clamp(200px, 30%, 300px);
        padding: 2rem;
        margin-left: 1.5rem;
    }
}

@media only screen and (max-width: 1100px){
    .project__breadcrumb_container{
        margin-top: -3rem;
    }

    .project__details{
        padding: 4rem 2rem;
    }

    .project__title{
        font-size: var(--fontSize--h1_5);
        margin-bottom: 2rem;
    }

    .project__description{
        font-size: var(--fontSize--medium);
    }
}

@media only screen and (max-width: 850px){
    .project__details{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .project__skills{
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 0;
        gap: 2rem;
        padding: 1rem 1.5rem;
    }

    .project__skills_title{
        width: 100%;
    }

    .project__breadcrumb_container{
        align-self: flex-start;
    }
}

@media only screen and (max-width: 650px){
    .project__title{
        font-size: var(--fontSize--h2);
    }

    .project__details{
        padding: 4rem 1rem;
    }
}