.project__details{
    width: 100%;
    max-width: min(1920px, 100%);
    margin: -6rem auto 0 auto;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 6rem 8.375rem;
    box-sizing: border-box;
    z-index: 5;
    background-color: var(--white--primary);
}

.project__title{
    font-size: var(--fontSize--h1);
    font-weight: var(--fontWeight--light);
    color: var(--black--primary);
    margin-bottom: 3rem;
}

.project__textContent{
    width: 100%;
}

.project__skills{
    width: clamp(200px, 50%, 400px);
    background-color: var(--yellow--primary);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 3rem;
    box-sizing: border-box;
    margin-left: 9.5rem;
    gap: 1rem;
}

.project__skills_title{
    font-size: var(--fontSize--medium);
    font-weight: var(--fontWeight--medium);
    color: var(--black--primary);
    margin-bottom: 0.5rem;
}

.project__skills > span{
    font-size: var(--fontSize--subText);
    font-weight: var(--fontWeight--regular);
    color: var(--black--primary);
}

.project__description{
    font-size: var(--fontSize--large);
    font-weight: var(--fontWeight--regular);
    color: var(--black--primary);
    margin-bottom: 2rem;
}