.about__container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.about__intro {
  height: clamp(678px, 100vh, 800px);
  min-height: min(850px, 100vh);
  background-color: var(--white--secondary);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  position: relative;
}

.about__introImage {
  width: clamp(200px, 40vw, 450px);
  height: fit-content;
  object-fit: cover;
  object-position: center;
  animation: border-animation 25s infinite;
}

.about__introContent {
  max-width: min(1920px, 100%);
  margin: 0 auto 6rem auto;
  padding: 0 10.5rem;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.about__title {
  width: 100%;
}

.about__break {
  display: block;
}

.superScript {
  vertical-align: super;
  color: var(--black--primary);
  font-size: var(--fontSize--large);
  font-weight: var(--fontWeight--regular);
  margin-left: 0.4rem;
}

.about__description {
  font-size: var(--fontSize--large);
  font-weight: var(--fontWeight--regular);
  color: var(--black--primary);
  margin: 3rem 0;
  line-height: 1.25;
  width: 45ch;
}

.about__cta {
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-items: center;
  text-decoration: none;
  color: var(--black--primary);
}

.about__cta__text {
  text-align: left;
  text-decoration: none;
  font-size: var(--fontSize--h4);
  font-weight: var(--fontWeight--regular);
  transition: color 0.5s ease-in-out;
}

.about__cta__icon {
  background-color: var(--yellow--primary);
  font-size: 1.5rem;
  color: var(--black--primary);
  border-radius: 50%;
  width: 1.5rem;
  height: 1.25rem;
  padding: 0.875rem 0.75rem;
  box-sizing: content-box;
  transition: background-color 0.5s ease-in-out;
}

.about__cta:hover>.about__cta__icon {
  background-color: var(--yellow--secondary);
}

.about__cta:hover>.about__cta__text {
  color: var(--blue--secondary);
}

@media only screen and (max-width: 1650px) {
  .about__title {
    font-size: var(--fontSize--h1_5);
  }

  .about__description{
    width: 35ch;
  }
}

@media only screen and (max-width: 1400px) {
  .about__introImage {
    width: clamp(230px, 25vw, 350px);
  }
}

@media only screen and (max-width: 1350px) {
  .about__break {
    display: none;
  }

  .break_first {
    display: block;
  }
}

@media only screen and (max-width: 1250px) {
  .about__introImage{
    position: absolute;
    top: 45vh;
    right: 8vw;
  }
}

@media only screen and (max-width: 1100px) {
  .about__introContent {
    padding: 0 5rem;
  }

  .about__title {
    font-size: var(--fontSize--h2);
  }

  .about__description {
    font-size: var(--fontSize--medium);
  }

  .about__introImage {
    width: clamp(270px, 30vw, 300px);
    top: 42vh;
  }
}

@media only screen and (max-width: 1000px) {
  .about__introImage {
    top: 18vh;
  }
}

@media screen and (max-width: 850px) {
  .about__description {
    width: 100%;
  }

  .about__cta__text {
    font-size: var(--fontSize--h5);
  }

  .about__cta__icon {
    width: 1rem;
    height: 0.8rem;
  }

  .about__intro {
    justify-content: flex-end;
    min-height: auto;
    height: auto;
    min-height: 700px;
  }

  .about__introContent {
    margin-bottom: 0;
    padding: 6rem 5rem 3rem 5rem;
  }

  .about__introImage{
    width: clamp(200px, 30vw, 250px);
    top: 10vh;
  }
}

@media screen and (max-width: 650px) {
  .about__introContent {
    padding: 2rem;
  }

  .about__title {
    font-size: var(--fontSize--h3);
  }

  .about__description {
    margin: 1rem 0;
  }

  .about__text {
    font-size: var(--fontSize--medium);
  }

  .about__cta__text {
    font-size: var(--fontSize--large);
  }

  .about__introImage {
    width: clamp(280px, 40vw, 300px);
    left: calc(50% - 140px);
    top: 12vh;
  }
}

@media only screen and (max-width: 450px) {
  .about__intro{
    min-height: 650px;
  }

  .about__introContent {
    padding: 0 1.5rem;
  }

  .about__title {
    font-size: var(--fontSize--h4);
  }

  .about__cta {
    margin-bottom: 1rem;
  }

  .about__cta__text {
    font-size: var(--fontSize--medium);
  }

  .about__cta__icon {
    width: 1.2rem;
    height: 0.8rem;
    padding: 0.6rem 0.4rem;
  }
}

@media only screen and (max-width: 400px) {
  .about__introImage {
    width: clamp(200px, 40vw, 220px);
    left: calc(50% - 100px);
    top: 18vh;
  }
}


@keyframes border-animation {
	0%,
	100% {
		border-radius: 30% 70% 70% 30% / 30% 52% 48% 70%;
	}
	10% {
		border-radius: 50% 50% 20% 80% / 25% 70% 30% 75%;
	}
	20% {
		border-radius: 67% 33% 47% 53% / 37% 20% 80% 63%;
	}
	30% {
		border-radius: 39% 61% 47% 53% / 37% 40% 60% 63%;
	}
	40% {
		border-radius: 39% 61% 82% 18% / 74% 40% 60% 26%;
	}
	50% {
		border-radius: 100%;
	}
	60% {
		border-radius: 50% 50% 53% 47% / 72% 69% 31% 28%;
	}
	70% {
		border-radius: 50% 50% 53% 47% / 26% 22% 78% 74%;
	}
	80% {
		border-radius: 50% 50% 53% 47% / 26% 69% 31% 74%;
	}
	90% {
		border-radius: 20% 80% 20% 80% / 20% 80% 20% 80%;
	}
}