.projects__container {
  height: 100%;
  min-height: min(800px, 100vh);
  max-width: min(1920px, 100vw);
  margin: 0 auto;
  padding: 0 10.5rem;
  margin-top: 10rem;
}

@media only screen and (max-width: 1100px) {
  .projects__container {
    padding: 0 5rem;
    margin-top: 8rem;
  }
}

@media only screen and (max-width: 850px) {
  .projects__container {
    padding: 0 3.5rem;
    margin-top: 6rem;
  }
}

@media only screen and (max-width: 450px) {
  .projects__container {
    padding: 0 1.5rem;
  }
}
