.contact__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 7.5rem 0;
  background-color: var(--blue--primary);
  position: relative;
}

.contact__textContent{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
  position: absolute;
  left: 8rem;
  bottom: 8rem;
}

.contact__title{
  color: var(--white--primary);
  font-size: var(--fontSize--h2);
}

.title__attention{
  color: var(--yellow--primary);
}

.contact__description{
  font-size: var(--fontSize--large);
  color: var(--white--primary);
}

.bubbleSocials, .bubbleEmail, .bubblePhone, .bubbleMobile{
  display: grid;
  place-items: center;
  position: absolute;
  background-image: url('./../../../public/images/bubbles/bubble.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation: bubble-move 8s ease-in-out infinite;
  animation-play-state: running;
}

.bubbleSocials:hover, .bubbleEmail:hover, .bubblePhone:hover, .bubbleMobile:hover{
  animation-play-state: paused;
}

.bubbleMobile{
  display: none;
  width: 300px;
  height: 300px;
}

.bubbleSocials{
  top: 7rem;
  left: 35vw;
  width: 300px;
  height: 300px;
  animation-duration: 10s;
  animation-delay: -5s;
}

.bubbleEmail{
  top: 55vh;
  right: 35vw;
  width: 350px;
  height: 350px;
  animation-duration: 12s;
  animation-delay: -2s;
}

.bubblePhone{
  top: 15vh;
  right: 18vw;
  width: 350px;
  height: 350px;
}

.center{
  position: absolute;
}

.bubbleText{
  font-size: var(--fontSize--large);
  color: var(--white--primary);
  text-align: center;
}

.bubbleTopLeft {
  position: absolute;
  top: -4rem;
  left: -6rem;
  width: clamp(25rem, 30vw, 44rem);
  height: auto;
  animation: bubbleAnimation 6s infinite ease-in-out;
}

.bubbleTopRight {
  position: absolute;
  top: -5rem;
  right: -15rem;
  width: clamp(17.5rem, 20vw, 30rem);
  animation: bubbleAnimation 6s infinite ease-in-out -2s reverse;
}

.bubbleBottomRight {
  position: absolute;
  bottom: 3rem;
  right: -10rem;
  animation: bubbleAnimation 6s infinite ease-in-out -1s;
}

@media only screen and (min-width: 1721px) {
  .contact__title{
    font-size: var(--fontSize--h1_5);
  }

  .contact__description{
    font-size: var(--fontSize--xlarge);
  }
}

@media only screen and (min-width: 1980px) {
  .contact__title{
    font-size: var(--fontSize--h1);
  }

  .contact__description{
    font-size: var(--fontSize--h5);
  }
}

@media only screen and (max-width: 1720px) {
  .bubbleTopRight {
    right: -8rem;
  }

  .bubbleEmail{
    top: 55vh;
    right: 15vw;
  }

  .bubbleSocials{
    left: 28vw;
  }
}

@media only screen and (max-width: 1400px) {
  .contact__textContent{
    left: 4rem;
  }
}

@media only screen and (max-width: 1200px) {
  .bubbleSocials{
    left: 6vw;
    top: 35vh;
  }

  .bubbleEmail{
    top: 35vh;
    right: 10vw;
  }

  .bubblePhone{
    top: 15vh;
    right: 38vw;
  }
}

@media only screen and (max-width: 850px) {
  .bubbleTopLeft {
    top: -10rem;
    left: -9rem;
  }

  .bubbleBottomRight{
    display: none;
  }

  .bubbleEmail{
    top: 45vh;
    right: 5vw;
  }

  .bubbleSocials{
    left: 5vw;
    top: 40vh;
  }

  .bubblePhone{
    top: 10vh;
    right: 25vw;
  }

  .contact__textContent{
    left: 4rem;
    bottom: 4rem;
  }

  .contact__title{
    font-size: var(--fontSize--h3);
  }

  .contact__description{
    font-size: var(--fontSize--medium);
  }
}

@media only screen and (max-width: 700px) {
  .bubbleEmail, .bubblePhone{
    width: 280px;
    height: 280px;
  }

  .bubbleSocials{
    width: 220px;
    height: 220px;
  }

  .contact__textContent{
    position: fixed;
    left: 3rem;
    bottom: 3rem;
  }
}

@media only screen and (max-width: 650px) {
  .bubbleEmail, .bubblePhone{
    display: none;
  }

  .bubbleMobile{
    display: grid;
    top: 45vh;
    right: 3vw;
  }

  .bubbleSocials{
    width: 200px;
    height: 200px;
    top: 25vh;
  }

  .contact__textContent{
    left: 1.5rem;
    margin-right: 1.5rem;
  }
}

@media only screen and (max-width: 500px) {
  .bubbleMobile{
    top: 35vh;
    right: 3vw;
    width: 250px;
    height: 250px;
  }

  .bubbleTopLeft {
    top: -18rem;
    left: -10rem;
  }

  .bubbleTopRight {
    right: -10rem;
    top: -15rem;
  }

  .bubbleSocials{
    top: 15vh;
  }
}

@keyframes bubbleAnimation {
  0% {
    transform: translateY(0) translateX(0);
  }
  25% {
    transform: translateY(1rem) translateX(0.5rem);
  }
  50% {
    transform: translateY(-1rem) translateX(0.5rem);
  }
  75% {
    transform: translateY(0.5rem) translateX(-1rem);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}

@keyframes bubble-move {
  0% {
    transform: translateY(0) translateX(0);
  }
  15% {
    transform: translateY(1rem) translateX(0.5rem);
  }
  30% {
    transform: translateY(-1rem) translateX(0.9rem);
  }
  45% {
    transform: translateY(0.5rem) translateX(-1rem);
  }
  60% {
    transform: translateY(0) translateX(0);
  }
  75% {
    transform: translateY(1rem) translateX(0.5rem);
  }
  90% {
    transform: translateY(-1rem) translateX(0.5rem);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}
