.project__container {
  background-color: var(--white--secondary);
  max-width: min(1920px, 100%);
  padding: 10.5rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  gap: 3rem;
}

.selectedWorks__title {
  font-size: var(--fontSize--h2);
  font-weight: var(--fontWeight--light);
  color: var(--black--primary);
}

.projectCards__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;
  height: fit-content;
  gap: 2rem;
}

.cta__container {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  margin-top: 3rem;
  width: clamp(20rem, 65%, 35rem);
}

.cta__text {
  text-align: left;
  text-decoration: none;
  font-size: var(--fontSize--h4);
  font-weight: var(--fontWeight--regular);
  transition: color 0.5s linear;
}

.cta__icon, .cta__mobileIcon {
  background-color: var(--yellow--primary);
  font-size: 1.5rem;
  color: var(--black--primary);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  padding: 0.75rem;
  box-sizing: border-box;
  transition: background-color 0.5s linear;
}

.cta__mobileIcon{
  background-color: transparent;
}

.cta__container:hover>.cta__icon {
  background-color: var(--yellow--secondary);
}

.cta__container:hover>.cta__text {
  color: var(--blue--secondary);
}

.cta__mobileContainer{
  display: none;
}

@media only screen and (max-width: 1920px) {
  .projectCards__container {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 1500px) {
  .project__container {
    padding: 10.5rem 5.5rem;
    align-items: center;
  }
}

@media only screen and (max-width: 1350px) {
  .project__container {
    padding: 10.5rem 5.5rem;
  }

  .cta__text {
    font-size: var(--fontSize--h4);
  }
}

@media only screen and (max-width: 1100px) {
  .projectCards__container {
    flex-wrap: wrap;
  }

  .cta__container {
    width: fit-content;
    gap: 2rem;
  }

  .cta__text {
    font-size: var(--fontSize--h5);
  }

  .cta__icon {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.6rem;
  }

}

@media only screen and (max-width: 850px) {
  .project__container {
    padding: 6rem 2.5rem;
  }

  .cta__container {
    margin-top: 0;
  }
}

@media only screen and (max-width: 650px) {
  .project__container {
    padding: 6rem 1.5rem;
  }

  .selectedWorks__title {
    font-size: var(--fontSize--h3);
  }

  .cta__icon {
    width: 1.8rem;
    height: 1.8rem;
    padding: 0.4rem;
  }

  .cta__text {
    font-size: var(--fontSize--large);
  }
}

@media only screen and (max-width: 450px) {
  .cta__icon {
    width: 1.6rem;
    height: 1.6rem;
    padding: 0.4rem;
  }

  .selectedWorks__title {
    font-size: var(--fontSize--h4);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0rem var(--blue--secondary);
  }

  100% {
    box-shadow: 0 0 2rem 3rem var(--blue--tertiary-alpha);
  }
}