.interestCard{
    display: flex;
    flex-direction: column;
    /* width: calc(100% / 3 - 3rem); */
    width: clamp(14rem, 100%, 30rem);
    min-width: 14rem;
    box-shadow: 0px 0px 1rem 0.2rem var(--blue--alpha);
    text-decoration: none;
}

.interestCard__logo_container{
    width: clamp(14rem, 100%, 35rem);
    height: 14rem;
    display: grid;
    place-items: center;
}

.interestCard__logo{
    width: clamp(8rem, 100%, 15rem);
    height: auto;
    max-height: 10rem;
    object-fit: contain;
}

.interestCard__title{
    font-size: var(--fontSize--h4);
    font-weight: var(--fontWeight--regular);
    padding: 1rem;
    padding-right: 0;
    color: var(--black--primary);
}

.interestCard__description{
    font-size: var(--fontSize--medium);
    font-weight: var(--fontWeight--regular);
    padding: 1rem;
    padding-top: 0;
    margin-bottom: 1rem;
    color: var(--black--primary);
    line-height: 1.25;
}

@media only screen and (max-width: 1200px) {
    .interestCard{
        width: clamp(14rem, calc(50% - 1.5rem), 23rem);
    }
}

@media only screen and (max-width: 1100px) {
    .interestCard{
        width: clamp(14rem, calc(50% - 1.5rem), 25rem);
    }
}

@media only screen and (max-width: 850px) {
    .interestCard{
        width: 100%;
        align-items: center;
    }
}