/* Image carousel */
.project__carousel_container {
  width: 100%;
  height: fit-content;
  position: relative;
  margin-bottom: 6rem;
  /* overflow-x: hidden; */
}

.project__carousel {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding-right: 2rem;
}

.project__carousel_imageContainer {
  width: 30%;
  height: clamp(200px, 30vw, 400px);
  object-fit: cover;
  flex: 0 0 30%;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.project__carousel_imageContainer:first-of-type {
  margin-left: 2rem;
}

.embla__viewport{
  position: relative;
}

/*
.carousel__overlay{
  position: absolute;
  top: 0;
  width: 100%;
  height: clamp(200px, 45vw, 400px);
  z-index: 3;
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 6%, rgba(255,255,255,0) 48%, rgba(255,255,255,0) 94%, rgba(255,255,255,1) 100%);
}
*/


.project__carousel_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.9;
}


.carousel__controls {
  width: 100%;
  height: fit-content;
  position: absolute;
  bottom: calc(50% - 1.25rem);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  z-index: 4;
}

.carousel__control_left,
.carousel__control_right {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--yellow--primary);
  /* background-color: var(--white--semiTransoarent); */
  padding: 0.5rem;
  color: var(--blue--primary);
  transition: background-color 0.2s ease-in-out;
}

.carousel__control_left:hover,
.carousel__control_right:hover {
  background-color: var(--yellow--secondary);
}

@media only screen and (max-width: 1500px) {
  .project__carousel_imageContainer {
    width: 45%;
    height: clamp(200px, 45vw, 400px);
    flex: 0 0 45%;
  }
}

@media only screen and (max-width: 1100px) {
  .project__carousel_imageContainer {
    width: 70%;
    height: clamp(200px, 70vw, 400px);
    flex: 0 0 70%;
  }
}

@media only screen and (max-width: 850px) {
  .project__carousel_imageContainer {
    width: 90%;
    height: clamp(200px, 90vw, 400px);
    flex: 0 0 90%;
  }
}

@media only screen and (max-width: 650px) {
  .project__carousel_imageContainer {
    width: 110%;
    height: clamp(200px, 100vw, 400px);
    flex: 0 0 110%;
  }

  .project__carousel {
    gap: 0;
  }

  .project__carousel_imageContainer:first-of-type {
    margin-left: 0;
  }
}

@media only screen and (max-width: 450px) {
  .carousel__controls {
    padding: 0 1rem;
  }
}